<div th:fragment="header">
    <a href="#" class="logo"><span>E</span>C DEMO-site</a>

    <nav class="navbar">
        <a href="#top">Top</a>
        <a href="#items">items</a>
        <a href="#contact">Contact</a>
        <a href="#feedback">Feedback</a>
    </nav>

    <div class="icon">
        <i class="fas fa-search" id="search-btn"></i>
        <i class="fas fa-user" id="login-btn"></i>
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for=""></label>
    </form>
</div>